/* CSS stylistic properties for decription pages */
.nav{
  background-color: white; 
  list-style-type: none;
  text-align: left;
  margin-left: 20px;
}

.nav li{
  display: inline-block;
}

a{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: gray;
  margin-left: -30px;
}

h1{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 50px;
  text-align: center;
  color: #649CA8;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
}

h2{
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 20px;
  text-align: center;
  margin-left: 255px;
  margin-right: 255px;
  color: white;
  background-color: #B1D7D8;
}

body{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
  background-color: white;
}

li{
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin-left: 235px;
}

img{
  width: 300px; 
  height: 300px;
  background-color: white;
}

.button {
  background-color: #B1D7D8; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}